<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>CodePen - Login </title>

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/reset.css')}}" />

</head>

<body>
    <form action="/" method="post">
        <div class="wrap">
            <!-- <div class="avatar">
      <img src="http://cdn.ialireza.me/avatar.png">
		</div> -->

            <input type="text" placeholder="username" name="username" required>

            <div class="bar">
                <i></i>
            </div>

            <input type="password" placeholder="password" name="password" required>

            <!-- <a href="" class="forgot_link">forgot ?</a> -->
            <input type="submit">Sign in/>
        </div>
    </form>




    <script src="{{ url_for('static', filename = 'js/index.js')}}"></script>

</body>

</html>